#titulo-id {
    color: deepskyblue;
}

.cor-roxa {
    color: mediumpurple;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: hotpink;
    font-size: 36px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 36px;
}

h2 {
    color: lightpink;
}

.fundo-azul {
    background: lightskyblue;
}

.fonte-grande {
    font-size: 50px;
}

#titulo-principal {
    background: violet;
    color: white';
}